.DS_Store
node_modules
coverage
__pycache__

# E2E
e2e/output
e2e/*.local.js

# CLIENTS
/dist

# LOG FILES
npm-debug.log*

# VS Code
.vscode

# Idea
.idea
gem/apps/gem/routes/*.http

# Any persistent data like:
# db, ssl keys, media files
.data

# env folders
venv/
