[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pep8 = "*"
pytest = "*"
starlette = "*"
requests = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
passlib = "*"
python-multipart = "*"
bcrypt = "*"
email-validator = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"

[requires]
python_version = "3.7"
